p{
    font-family: "nao existe", Arial, "Comic Sans MS", sans-serif;
    font-style: italic;
    /*: normal;*/
    font-size: 12px;
    /*: 1.5em;*/
    font-weight: bold;
    /*: 700; #depende da familia da fonte*/
    font-variant: small-caps; 
    /*faz que todas as letras fiquem maiusculas, mas deixa um pouco maior as que ja estavam capitalize */
  }

